body{ 
	background-image: url('img/weights.jpg');
	color: white;
	font-size: 87.5%; /* vanligt front-size är 14px */ 
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}

a {
	text-decoration: none;
}

a:link, a:visited {

}

a:hover, a:active{

}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainheader img{
	width: 35%;
}

.mainContent{

}

