body{ 
	background-image: url('img/weights.jpg');
	color: white;
	font-size: 87.5%; /* vanligt front-size är 14px */ 
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}

a{
	text-decoration: none;
}

a:link, a:visited{
	color: #001a66; /* mörkblå */
}

a:hover, a:active{
	background-color: #001a66;
	color: #FFF; /* vitt */
}
/* om Headerlänkar */
.body{
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainHeader img{
	width: 35%;
	height: auto;
	margin: 2% 0;
}

.mainHeader nav{
	background-color: #808080; /*gray*/
	height: 50px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader nav ul{
	list-style: none;
	margin: 0 auto; /* har margin för att kontrollera mellan rum  */

}

.mainHeader nav ul li{
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
	color: #FFF;
	display: inline-block;
	padding: 14px 25px; /* positionen för länkarna */
	height: 22px;/* fixar storlek på färgen som täcker länken */
}

.mainHeader nav a:hover, .mainHeader nav a:active /* hover är för att kunna se färg på texten som man täcker över */
.mainHeader nav .active a:link, .mainHeader nav .active a:visited{ /*här vill vi aktivera alla länkar*/
	background-color: #001a66; /* mörkblå */
	text-shadow: none;
}

.mainHeader nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* till hit */



.mainContent{
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/* overflow: hidden;  overflow är när två container är på varann vilket gör att man kan klicka på en container*/
}

.content {
	width: 70%;
	float: left;
}

.topcontent {
	background-color: gray; /*vitt*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%
}

.bottomcontent {
	background-color: #808080; /*gray*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%
}

.post-info{
	font-style: italic;
	color: #999;
	font-size: 90%;
}

.top-sidebar {
	width: 21%;
	float: left;
	background-color: #808080;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%;
	margin-bottom: 2%;
	margin-top: 2%;
	padding: 2% 3%;
}

.middle-sidebar {
	width: 21%;
	float: left;
	background-color: #808080;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2% 0 2% 3%; /*top right bottom left */
	padding: 2% 3%;
}

.bottom-sidebar {
	width: 21%;
	float: left;
	background-color: #808080;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2% 0 2% 3%; /*top right bottom left */
	padding: 2% 3%;
}

.mainFooter {
	width: 100%;
	height: 40px;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #808080; /* grå */
	margin: 2% 0;
}

.mainFooter p {
	width: 92%;
	margin: 10px auto;
	color: white;
}

@media only screen and (min-width: 150px) and (max-width: 600px){
	.body{
		width: 90%;
		font-size: 95%;	
	}

	.mainHeader img{
		width: 100%;
	}

	.mainHeader nav{
		height: 160px;
	}

	.mainHeader nav ul{
		padding-left: 0
	}

	.mainHeader nav ul li{
		width: 100%;
		text-align: center;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited{
		padding: 10px 25px; /* positionen för länkarna */
		height: 20px;/* fixar storlek på färgen som täcker länken */
		display: block;
	}

	.content {
		width: 100%;
		float: left;
		margin-top: 2%;
	}

	.post-info{
		display:none;
	}

	.topcontent {
		background-color: gray; /*vitt*/
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%
		margin-bottom:4%;
	}

	.bottomcontent {
		margin-top: 3%
	}


	.top-sidebar, .middle-sidebar, .bottom-sidebar {
		width: 94%;
		float: left;
		margin: 2% 0 2% 0;
		padding: 2% 3%;
	}
} 