body{ 
	background-image: url('img/weights.jpg');
	color: white;
	font-size: 87.5%; /* vanligt front-size är 14px */ 
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}

a{
	text-decoration: none;
}

a:link, a:visited{

}

a:hover, a:active{

}
/* om Headerlänkar */
.body{
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainHeader img{
	width: 35%;
	height: auto;
	margin: 2% 0;
}

.mainHeader nav{
	background-color: #808080;
	height: 50px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader nav ul{
	list-style: none;
	margin: 0 auto; /* har margin för att kontrollera mellan rum  */

}

.mainHeader nav ul li{
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
	color: #FFF;
	display: inline-block;
	padding: 14px 25px; /* positionen för länkarna */
	height: 22px;/* fixar storlek på färgen som täcker länken */
}

.mainHeader nav a:hover, .mainHeader nav a:active /* hover är för att kunna se färg på texten som man täcker över */
.mainHeader nav .active a:link, .mainHeader nav .active a:visited{ /*här vill vi aktivera alla länkar*/
	background-color: #001a66; /* mörkblå */
	text-shadow: none;
}

.mainHeader nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* till hit */



.mainContent{
	line-height: 22px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden; /* overflow är när två container är på varann vilket gör att man kan klicka på en container*/
}

.content {
	width: 70%;
	float: left;
}

.topcontent {
	background-color: 
}
